<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ldetmer.authservice">
    <uses-permission android:name="android.permission.INTERNET"/>

<application
android:allowBackup="true"
android:label="@string/app_name"
android:supportsRtl="true"
>
<service
        android:name="service.MirrorAuthService"
        android:enabled="true"
        android:exported="true"
        android:process=":remote">
    <intent-filter>
        <action android:name="service.MirrorAuthService" />
    </intent-filter>
</service>

</application>
</manifest>